package ${package};

import ${basePackage}.service.${entity.name}Service;
import ${basePackage}.vo.${entity.name}VO;
import cn.mklaus.framework.bean.PageVO;
import cn.mklaus.framework.bean.Pagination;
import cn.mklaus.framework.bean.ServiceResult;
import cn.mklaus.framework.bean.Update;
import cn.mklaus.framework.bean.Save;
import cn.mklaus.framework.web.Response;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

/**
 * @author $!author
 * @date $!createTime
 */
@RestController
@RequestMapping("${entity.name}")
public class ${entity.name}Controller {

    @Autowired
    private ${entity.name}Service ${entity.camelName}Service;

    @GetMapping("list")
    public Response list${entity.name}(PageVO pageVO) {
        Pagination pagination = ${entity.camelName}Service.list${entity.name}(pageVO);
        return Response.ok().put("pager", pagination);
    }

    @GetMapping("get")
    public Response get${entity.name}(@RequestParam Integer ${entity.camelName}Id) {
        ${entity.name} ${entity.camelName} = ${entity.camelName}Service.get${entity.name}(${entity.camelName}Id);
        return Response.ok().put("${entity.camelName}", ${entity.camelName});
    }

    @PostMapping("save")
    public Response save${entity.name}(@Validated(Save.class) ${entity.name}VO vo) {
        ServiceResult result = ${entity.camelName}Service.save${entity.name}(vo);
        return Response.with(result);
    }

    @PostMapping("update")
    public Response update${entity.name}(@Validated(Update.class) ${entity.name}VO vo) {
        ServiceResult result = ${entity.camelName}Service.update${entity.name}(vo);
        return Response.with(result);
    }

    @PostMapping("remove")
    public Response remove${entity.name}(@RequestParam Integer ${entity.camelName}Id) {
        ServiceResult result = ${entity.camelName}Service.remove${entity.name}(${entity.camelName}Id);
        return Response.with(result);
    }


}

#filename("${entity.name}Controller.java")