package ${package};

import ${basePackage}.service.${entity.name}Service;
import ${basePackage}.vo.${entity.name}VO;
import cn.mklaus.framework.bean.Pagination;
import cn.mklaus.framework.bean.Response;
import cn.mklaus.framework.bean.ServiceResult;
import cn.mklaus.framework.bean.PageVO;
import cn.mklaus.framework.bean.Save;
import cn.mklaus.framework.bean.Update;
import com.alibaba.fastjson.JSONObject;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

@RestController
@RequestMapping("${entity.name}")
public class ${entity.name}Controller {

    @Autowired
    private ${entity.name}Service ${entity.camelName}Service;

    @GetMapping("list")
    @ResponseBody
    public JSONObject list${entity.name}(PageVO pageVO) {
        Pagination pagination = ${entity.camelName}Service.list${entity.name}(pageVO);
        return Response.ok().put("pager", pagination).build();
    }

    @PostMapping("save")
    @ResponseBody
    public JSONObject save${entity.name}(@Validated(Save.class) ${entity.name}VO vo) {
        ServiceResult result = ${entity.camelName}Service.save${entity.name}(vo);
        return Response.withResult(result).build();
    }

    @PostMapping("update")
    @ResponseBody
    public JSONObject update${entity.name}(@Validated(Update.class) ${entity.name}VO vo) {
        ServiceResult result = ${entity.camelName}Service.update${entity.name}(vo);
        return Response.withResult(result).build();
    }

    @PostMapping("remove")
    @ResponseBody
    public JSONObject remove${entity.name}(@RequestParam Integer ${entity.camelName}Id) {
        ServiceResult result = ${entity.camelName}Service.remove${entity.name}(${entity.camelName}Id);
        return Response.withResult(result).build();
    }


}

#filename("${entity.name}Controller.java")