package ${package};

import cn.mklaus.framework.bean.Save;
import cn.mklaus.framework.bean.Update;
import lombok.Data;
import lombok.ToString;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;

/**
 * @author $!author
 * @date $!createTime
 */
@Data
@ToString
public class ${entity.name}VO {

    @NotNull(groups = {Update.class}, message = "${entity.camelName}Id不能为空}")
    private Integer ${entity.camelName}Id;

#foreach($c in $entity.columns)
#if(${c.type} == "String")
    @NotBlank(groups = {Save.class, Update.class}, message = "${c.name}不能为空")
#else
    @NotNull(groups = {Save.class, Update.class}, message = "${c.name}不能为空")
#end
    private ${c.type} ${c.name};

#end
}

#filename("${entity.name}VO.java")